<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.rxjavaudemyclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_Android_Tutorials">

        <activity android:name=".MainActivityIntro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".operators.OperatorJustActivity" />
        <activity android:name=".operators.OperatorIterableActivity" />
        <activity android:name=".operators.OperatorRangeActivity" />
        <activity android:name=".operators.OperatorCreateActivity" />
        <activity android:name=".operators.OperatorMapActivity" />
        <activity android:name=".operators.OperatorFlatMap" />
        <activity android:name=".operators.OperatorBufferActivity" />
        <activity android:name=".operators.OperatorFilterActivity" />
        <activity android:name=".operators.OperatorDistinctActivity" />
        <activity android:name=".operators.OperatorSkipActivity" />
        <activity android:name=".subjects.SubjectsActivity" />
        <activity android:name=".rxbinding.RxBindingActivity" />
        <activity android:name=".rxflowable.RxFlowableActivity" />
    </application>

</manifest>